<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestPageCases.HomePage"/>
      <class name="TestPageCases.SignUp"/>
      <class name="TestPageCases.InvalidLoginInput"/>
      <class name="TestPageCases.ValidLoginInput"/>
      <class name="TestPageCases.VerifySearchProduct"/>
      <class name="TestPageCases.VerifyNegativeCartProductDetails"/>
      <class name="TestPageCases.VerifyProceedToCheckoutButtonAndAddressDetails"/>      
      <class name="TestPageCases.BonusTask"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
